<html>
<head>
	
</head>
	<body>
	<a href = '{{url_for('newRestaurant') }}'>Add New Restaurant</a>
		</br>
		</br>

		{% if restaurants %}
			{% for r in restaurants %}
		<div id='restaurant'>
			<span class='name'><p>{{r.name}}</p></span>
		</div>
		<a href='{{url_for('showMenu', restaurant_id=r.id)}}'>View Menu</a>
		</br>
		<a href='{{url_for('editRestaurant', restaurant_id=r.id)}}'>Edit</a>
		</br>
		<a href='{{url_for('deleteRestaurant', restaurant_id=r.id)}}'>Delete</a>
			{% endfor %}
		{% endif %}

		<!-- MESSAGE FLASHING -->
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul>
					{% for message in messages %}
						<li><strong> {{message}} </strong></li>
					{% endfor %}
				</ul>
				{% endif %}
			{% endwith %}
	</body>
</html>