{% extends "index.html" %}
{% block content %}
	<h2>Categories</h2>
	{% if categories %}
		{% for c in categories %}
		<div id='category'>
			<a href="{{ (url_for('showCategory', category_name=c.name)) }}">{{c.name}}</a>			
		</div>
		{% endfor %}
	{% endif %}
	<div id="latest-items">
	<h2>Latest Items</h2>
	{% if items %}
		{% for item in items %}
		<div id='item'>		
			<a href="{{ (url_for('viewItem', category_name=item.category.name, item_name=item.name)) }}">{{ item.name }} ({{ item.category.name }})</a>	
		</div>
		{% endfor %}
	{% endif %}
	</div>

{% endblock %}