{% extends "index.html" %}
{% block content %}
{% include "header.html" %}
{% include 'flash.html' %}
	<h2>Categories</h2>	
	<ul class="list-group">
	{% if categories %}
		{% for c in categories %}
		<!-- <li class="list-group-item"><a href="{{ (url_for('showCategory', category_name=c.name)) }}">{{c.name}}</a><span class="badge">14</span></li>-->
		<a href='{{ (url_for('showCategory', category_name=c.name)) }}' class='list-group-item'>{{c.name}}<span class="badge">14</span></a>
		{% endfor %}
	</ul>		
	<a href='{{ (url_for('newCategory')) }}' class='btn btn-primary'>Add New</a>		
	{% endif %}
	<div id="latest-items">
	<h2>Latest Items</h2>
	{% if items %}
		{% for item in items %}
		<div id='item'>		
			<a href="{{ (url_for('viewItem', category_name=item.category.name, item_name=item.name)) }}">{{ item.name }} ({{ item.category.name }})</a>	
			<figure class="item">
				<img src="{{ url_for('uploaded_file', filename=item.imageFilename )}}" alt="Item image" width="261" height="300">
				<figcaption>{{ item.description }}</figcaption>
			</figure>
		</div>
		<figure class="creator">
			<img src="{{ item.user.picture}}">
			<figcaption>Created by {{ item.user.name }}</figcaption>
		</figure>		
		{% endfor %}
	{% endif %}
	</div>

{% endblock %}