{% extends "index.html" %}
{% block content %}
{% include "header.html" %}
{% include 'flash.html' %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
			
		</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<h2>Categories</h2>
		{% if categories %}
			{% for c in categories %}
			<div id='category'>
				<a href="{{ (url_for('showCategory', category_name=c.name)) }}">{{c.name}}</a>			
			</div>
			{% endfor %}
		{% endif %}
	<div id="latest-items">
	<h2>Latest Items</h2>
		{% if items %}
			{% for item in items %}
			<div id='item'>		
			<a href="{{ (url_for('viewItem', category_name=item.category.name, item_name=item.name)) }}">{{ item.name }}</a>	
			<figure class="item">
				<img src="{{ url_for('uploaded_file', filename=item.imageFilename )}}" alt="Item image" width="261" height="300">
				<figcaption>{{ item.category.name }}</figcaption>
			</figure>
		</div>
		<figure class="creator">
			<img src="{{ item.user.picture}}">
			<figcaption>Created by {{ item.user.name }}</figcaption>
		</figure>	
			{% endfor %}
		{% endif %}
		</div>
	</div>
	<a href='{{ url_for('catalogJSON') }}'>
	<button class="btn btn-default" id="new-restaurant">
		<span class="glyphicon glyphicon-save" aria-hidden="true"></span> JSON 
	</button>
	</a>
{% endblock %}